.body {
  padding: 15px;
}
.list {
  box-sizing: border-box;
  background-color: #2e3344;
  width: 100%;
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 15px;
  }
  & > img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  & > .specialE {
    height: 60px;
    width: 8px;
  }
}
.middle {
  box-sizing: border-box;
  height: 60px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  & > .title {
    color: #ffffff;
    font-size: 14px;
  }
  & > .from {
    font-size: 12px;
  }
  & > p {
    width: 28px;
    height: 20px;
    font-size: 14px;
  }
  & > div {
    color: #a7a9ad;
    font-size: 12px;
    & > img {
      width: 11px;
      height: 10px;
      margin-right: 3px;
    }
  }
}
.combin {
  justify-content: center!important;
}
.right {
  & > img {
    width: 16px;
    height: 24px;
  }
}
