.lateral-sliding {
  width: 100%;
  height: 140px;
  display: flex;
  padding-left: 15px;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  padding-bottom: 15px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.lateral-sliding-item {
  width: 115px;
  height: 154px;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
}
.lateral-sliding-item-special {
  width: 245px;
  height: 154px;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
}
.each-img {
  width: 115px;
  height: 126px;
  background-color: #3b3e49;
  border-radius: 5px;
  & > img {
    width: 115px;
    height: 126px;
    border-radius: 5px;
  }
}
.special {
  width: 245px;
  height: 126px;
  background-color: #3b3e49;
  border-radius: 10px;
  & > img {
    width: 245px;
    height: 126px;
    border-radius: 10px;
  }
}
.text {
  color: #868992;
  box-sizing: border-box;
  height: 38px;
  padding-top: 10px;
}
